/* Opći stilovi */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1,
h3 {
  color: #2c3e50;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #7f8c8d;
}

/* Forma */
form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #34495e;
}

input[type="number"],
select {
  width: 70%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}

input[type="number"]:focus,
select:focus {
  border-color: #3498db;
  outline: none;
  background-color: #fff;
}

button[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

/* Popup */
.popup {
  display: none;
  width: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.655);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#closePopup {
  margin-top: 15px;
  padding: 5px 15px;
  border: none;
  width: 120px;
  background: #007bff;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

#closePopup:hover {
  background: #0056b3;
}

/* Responzivni dizajn */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  form {
    padding: 1rem;
  }

  input[type="number"],
  select {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  button[type="submit"] {
    padding: 0.75rem;
    font-size: 1rem;
  }

  .popup-content {
    padding: 1rem;
  }

  #popup-text {
    font-size: 1rem;
  }

  #closePopup {
    padding: 0.5rem 1rem;
  }
}
